@media screen and (min-device-width: 320px) and (max-device-width: 1024px) { 
    .social-media, .footer-icon p{display: none;}
}

@media screen and (min-device-width:320px) and (max-device-width:600px) {
    #myTab li a{padding: 5px;}
}

/***********************************640**********************************/
@media  screen and (min-device-width: 600px) and (max-device-width: 800px) {
    #collapsibleNavbar2 li a{ padding: 5px;}
    .boat, .boat-img, .boat-img img, .size, .trending, .offer, .foot-icon {width: 100%;}
    .collection-tab, .serve, .foot{width: 50%;}
    .myTab1{width: 30%; padding: 0%;} 
    .tab-2, .Review{width: 70%;  padding: 0%;} 
}

@media screen and (min-device-width: 768px) and (max-device-width: 800px) {
    .boat, .boat-img, .trending{width: 50%;}
    .boat-img img{width: 100%; margin-top: 25%;}
    .trendig-content, .trendig-img{padding: 5% !important; }
    .trendig-img img{width: 100%; margin-top: 10%;}
}

@media screen and (min-device-width: 801px) and (max-device-width: 1024px){
    .boat, .boat-img, .trending, .offer{width: 50%;}
    .boat-img img{width: 100%; margin-top: 25%;}
    .collection-tab, .foot, .serve{width: 33.3%;}
    .size, .offer{width: 100%;}
    .trendig-content, .trendig-img{padding: 6% !important; }
    .trendig-img img{ margin-top: 10%;}
    

}